# Change YOUR_TOKEN to your prerender token
# Change http://example.com (server_name) to your website url

frontend my-frontend
    mode http
    bind :80
    
    # prerender.io
    acl user-agent-bot hdr_sub(User-Agent) -i baiduspider twitterbot facebookexternalhit rogerbot linkedinbot embedly showyoubot outbrain pinterest slackbot vkShare W3C_Validator Perplexity OAI-SearchBot ChatGPT GPTBot ClaudeBot Amazonbot
    acl url-asset path_end js css xml less png jpg jpeg gif pdf doc txt ico rss zip mp3 rar exe wmv doc avi ppt mpg mpeg tif wav mov psd ai xls mp4 m4a swf dat dmg iso flv m4v torrent ttf woff
    acl url-escaped-fragment url_sub _escaped_fragment_

    use_backend prerender if user-agent-bot !url-asset
    use_backend prerender if url-escaped-fragment !url-asset

backend prerender
   mode http
   timeout server 20s
   server prerender service.prerender.io:443 check ssl verify none
   http-request set-header X-Prerender-Token YOUR_TOKEN
   http-request replace-path ^/(.*)$ /http://example.com/\1
